<!DOCTYPE html>

<html>

<head>
	
	<title>Error | Webbed</title>
	<link type="text/css" rel="stylesheet" href="/static/styles/style_of_error.css" />
</head>

<body>

	<div id="top_bar">
		<div id="error_message_logo">
			<img src="/static/images/logo_error.png" alt="logo" width="260px" height="45px" />
			<p>Error</p>
		</div>
	</div>

	<div id="error_message" class="positionleft">
		<p>Oops!, You landed in no man area!</p>
		<p>Please click <a href="/">here</a> to try again.</p>
	</div>

	<div id="footer">
		<ul>
			
			<li><a href="http://en.wikipedia.org/wiki/Web_crawler">About Web crawler</a></li>
			<li><a href="http://en.wikipedia.org/wiki/Web_search_engine">About Search Engine</a></li>
			<li><a href="http://www.finalyearondesk.com">finalyearondesk.com</a></li>
			<li><a href="http://en.wikipedia.org/wiki/Thesis">Final year project</a></li>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">GitHub | Webbed</a></li>
			
		</ul>
	</div>
</body>
</html
