<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webbed | Search</title>
    <link rel="stylesheet" href="/static/styles/style_of_search_page.css" />
    <script type="text/javascript">
        $(function() {
            $("#link").focus();
        });
    </script>
</head>
<body>
	<div id="main-form">
		<center><img src="/static/images/logo.png" alt="Webbed" />
		<form method="get" action="/submitted_link/">
			
			<input id="link" type="text" name="link" /><br /><br />
			<button type="submit" class="submit">Search</button></center>
		</form>
	</div>

	<div id="footer">
		<ul>
			
			<li><a href="http://en.wikipedia.org/wiki/Web_crawler">About Web crawler</a></li>
			<li><a href="http://en.wikipedia.org/wiki/Web_search_engine">About Search Engine</a></li>
			<li><a href="http://www.finalyearondesk.com">finalyearondesk.com</a></li>
			<li><a href="http://en.wikipedia.org/wiki/Thesis">Final year project</a></li>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">GitHub | Webbed</a></li>
			
		</ul>
	</div>
</body>
</html>
