html, body {
	background: #FFFFFF;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}
#docs_para {
	font-size: 13px;
	color: #323232;
}

a {
	font-size: 20px;
}



p{
	color: #5A5A5A;
	font-size: 16px;
	padding-left: 40px;
}

#extracted_links.positionleft {
	background: url('/static/images/shadow_left.png');
	background-position:top left ; 
    background-repeat:repeat-y;
    padding-left: 50px;
}

#extracted_links {
	margin-left: 220px;
	width: 700px;
	padding-top: 70px;
	
	background: url('/static/images/shadow_left.png');
	

}

#top_bar {
	width: 100%;
	position: fixed;
	border-top: 0px solid #fff;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	border-bottom: 10px solid #4C4C4C;
	background: #fff;
	margin: -10px 0px 40px 0px;
}

#top_bar img {
	float: left;
	clear: both;
	margin-top:10px;
	padding-right: 20px;
}  

#top_bar form {
	margin-top: 15px;
	width: 700px;
	float: left;
	
}
#top_bar input[type=text]:focus {
	border: 1px solid #000000;
}
#top_bar input[type=text] {
	background: url('/static/images/search_image.png') no-repeat 98% center;
	width: 80%;
	font-size: 20px;
	height: 37px;
	padding-left: 7px;
	color: #585858;
	border: 1px solid #bbbdbe;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}
.submit {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #58B9EB;
	border: 1px solid #40A2D4;
	color: #FFFFFF;
	cursor: pointer;
	float: right;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	margin-top: -1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.submit:hover {
	background-color: #80cdf5;
	border-color: #52b1e2;
}
